@charset "utf-8";
/* CSS Document */



#wrap {
		margin:0 auto;
		width:100%;
}

	
	img {
	 display: block; 
	 margin: 0px auto;
	}
	
	#mainMenuBoxItem,
	#subMenuItem{
		margin-right: 20px;
		padding: 0;
		list-style-type: none;
	}
	
	#mainMenuBoxItem > li{
		float: right;
		width:200px;
	}
	
	#mainMenuBoxItem > li > a{
		font-size: 1rem;
		display: block;
		text-align: center;
		text-decoration: none;
		padding: 12px 36px;
	}
	
	
	#subMenuItem{
		position: absolute;
		background:white;
		border-radius: 25px 25px 25px 25px;
		width:200px;
	}
	
	#subMenuItem > li{
	
		padding: 16px 28px;
	}
	
	#subMenuItem > li > a {
		font-size: 1rem;
		text-decoration: none;
	}
	
	#mainMenuBox a:hover {
		border-radius: 25px 25px 25px 25px;
		background: white;
	}

/* 	#subMenuItem a:hover {
		text-decoration:none;
		background:lightgrey;
		
} */

	#notice{
		margin-top:80px;
		margin-left: auto; 
		margin-right: auto;
		width: auto;
		height: 400px;
		text-align: center;

	}
	
	#bottom{
		background-color: #87cdfa;
		text-align: center;
		padding-top:10px;
		padding-bottom:10px;
		margin-top:100px;
		width: auto;
		height: 50px;
		font-size: 15px;
	}


.hrefLocation{
	font-family:font;
}

.hrefLocation a {
	display:inline-block;
	color:black;
	text-decoration:none;
	font-family:midnight;
}


